extends layout
block content
    #container
        section.row1
            h1
                | چرا از
                span کاشی جهانگیر
                | خرید کنیم
            p
                | ما در تمام مراحل کار کنار شما هستیم
                br
                |                 برای تجربه یک خرید خوب سعی بر ایجاد وجه تمایزی نسبت به سایرین داشته ایم
        section.row2
            div
                .one
                    div
                        img(src='assets/image/cover.png')
                    div
                        h3  تضمین بهترین قیمت
                        p
                            | قبل از اجرای پروژه طرح انتخابی خود را به صورت سه بعدی مشاهده کنید
                .tow
                    div
                        img(src='assets/image/cover.png')
                    div
                        h3  ارسال نمونه کاشی
                        p
                            | قبل از اجرای پروژه طرح انتخابی خود را به صورت سه بعدی مشاهده کنید
                .tree.last-ch
                    div
                        img(src='assets/image/cover.png')
                    div
                        h3 ارسال رایگان سفارشات
                        p
                            | قبل از اجرای پروژه طرح انتخابی خود را به صورت سه بعدی مشاهده کنید
            div
                .four
                    div
                        img(src='assets/image/cover.png')
                    div
                        h3 طراحی سه بعدی رایگان
                        p
                            | قبل از اجرای پروژه طرح انتخابی خود را به صورت سه بعدی مشاهده کنید
                .five
                    div
                        img(src='assets/image/cover.png')
                    div
                        h3  ضمانت تعویض
                        p
                            | قبل از اجرای پروژه طرح انتخابی خود را به صورت سه بعدی مشاهده کنید
                .six.last-ch
                    div
                        img(src='assets/image/cover.png')
                    div
                        h3 مشاوره تلفنی آنلاین و رایگان
                        p
                            | قبل از اجرای پروژه طرح انتخابی خود را به صورت سه بعدی مشاهده کنید
        .clear
    #container2
        div
            h2 طراحی رایگان سه بعدی
            p
                | خدمات طراحی سه بعدی در کاشی جهانگیر خدماتی رایگان است و نیازی به حضور شما در نمایشگاه کاشی جهانگیر
                | نمیباشد .
            a(href='#')  راهنمای سفارش طراحی رایگان سه بعدی




































