doctype html
html(lang='fa')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title کاشی جهانگیر
        link(rel='stylesheet', href='assets/css/main.css')
    body
        include partials/_header
        #main
            include partials/_search-container
            block content
        include  partials/_footer