header#header
    // Header Top Row
    div
        .top-menu
            ul
                li
                    a(href='#') راهنمای طراحی رایگان
                li
                    a(href='#') راهنمای خرید کاشی
                li
                    a(href='#') راهنمای نصب کاشی سرامیک
                li
                    a(href='#') راهنمای خرید از وب
                li
                    a(href='#') درباره ما
                li
                    a(href='#') تماس با ما
        .login-container
            a.after(href='#')
                span عضویت
            a(href='#')
                span ورود به سایت
        .clear
    // Header Middle Row
    .middle-row
        .header-logo
            div
                img(src='assets/image/logo.gif', alt='')
            div
                a(href='#')
                    img(src='assets/image/text-kashi.gif', alt='')
                p فروشگاه آنلاین کاشی و سرامیک
        .social
            div
                img(src='assets/image/logo-social.gif', alt='')
                div
                    span مشاوره تلفنی با کارشناس فروش
                    span.number 20 80 44 55 031
            div
                img(src='assets/image/logo-3d.gif')
                div
                    span طراحی سه بعدی رایگان
                    span طراحی نمای داخلی به صورت رایگان
            div
                img(src='assets/image/logo-tel.gif', alt='')
                div
                    span  مشاوره رایگان
            div
                img(src='assets/image/logo-kharid.gif')
                .last-ch
                    span سبد خرید
                    span 8 مورد انتخاب شده
            section.clear
        .clear
    // Header Bottom Row
    .bottom-row
        nav.navi
            ul
                li
                    a(href='#') صفحه اصلی
                li
                    a(href='#') کاشی آشپزخانه
                li
                    a(href='#') کاشی و سرامیک سرویس بهداشت
                li
                    a(href='#') سرامیک کف
                li
                    a(href='#') کاشی دیواری
                li
                    a(href='#')  نمای ساختمان
                li.last-ch
                    a(href='#')  سرامیک راه پله و پارکینگ
        .logo-small
            img(src='assets/image/logo-small.png', alt='')
            .clear
        .clear
    .clear