#search-container
    form(action='#')
        .search
            input(type='text', name='search', placeholder='کاشی خودت را پیدا کن...')
            button(value='')
                // <i class="fa fa-search"></i>
        .example-search
            p
                | به عنوان مثال :
                span پرسلان
                | ,
                span سرویس بهداشتی